@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Cookie&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
body {
  background-color: #030712;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.font-calistoga {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.font-cookie {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}

.hr-fade {
  height: 1px;
  width: 400px;
  border: none;
  background: linear-gradient(
    to right,
    transparent,
    #b0b0b870 50%,
    transparent
  );
}
.animate-spin-slow {
  animation: spin 6s linear infinite;
}
